* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Prompt", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./imagens/pexels-francesco-ungaro-998641.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.container {
    display: flex;
    width: 80%;
    max-width: 900px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.esquerda, .direita {
    width: 50%;
    padding: 40px;
}

.esquerda {
    background-color: #007bff;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.teste-gratis{
    di
    width: 100%;
    padding: 10px;
    background-color: #163353;
    text-decoration: none;
    color: beige;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
